<nav class="navbar is-primary">
    <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="{{rootpath}}">
                    ROUTES
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{{rootpath}}/client">
                        table route
                    </a>
                    <a class="navbar-item" href="{{rootpath}}/client/code/kh001">
                        record route
                    </a>
                    <a class="navbar-item" href="{{rootpath}}/job/1334">
                        custom job
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="bd-tw-button button" href="https://github.com/amshelhack3r/eureka_api">
                            <span class="icon">
                                <i class="fab fa-github"></i>
                            </span>
                            <span>
                                GITHUB
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>